/* Define CSS variables for colors */
:root {
  --background-color: #121212; /* Dark gray for background */
  --text-color: #ffffff; /* White text for better contrast */
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}
