.app-container {
  text-align: center;
  padding: 2vw; /* Relative padding */
}

.home-container {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  height: 50vh; /* Adjusted height to 50vh */
  width: 100%; /* Full width */
}

.home-button-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns for the 2x2 grid */
  gap: 2vw; /* Spacing between buttons */
  max-width: 60%; /* Limit grid width to 60% of the container */
  width: 100%; /* Full width of container */
  margin-bottom: 3vh; /* Space between grid and leaderboard button */
}

.home-button-grid .MuiButton-root {
  width: 100%; /* Ensure all buttons take up the same width */
  padding: 1rem 2rem; /* Relative padding for buttons */
}

.leaderboard-button {
  width: 100%; /* Ensure the leaderboard button takes full width */
  max-width: 60%; /* Limit the width of the leaderboard button */
  padding: 1.2rem; /* Adjust padding for consistency */
  margin-top: 3vh; /* Space above the leaderboard button */
  align-self: center; /* Center it horizontally */
}
